<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="5" />
  <title>{{ title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>

<body>
  <center>
    <h1>{{ title }}</h1>
    <h2>Current Temperature - {{ cur_tmp  }}&deg;C</h2>


<canvas id="line-chart" width="800" height="450"></canvas>

<script>
new Chart(document.getElementById("line-chart"), {
    type: 'line',

    data: {
        labels: [{% for item in labels %}
                 "{{item}}",
                {% endfor %}],
        datasets: [{
            label: 'Smoker Temps',
            backgroundColor: 'rgb(247, 86, 86)',
            borderColor: 'rgb(210, 37, 37)',
            data : [{% for item in values %}
                    {{item}},
                   {% endfor %}]

        },{
            label: 'Target Temp',
            borderColor: 'rgb(84, 54, 54)',
            data : [{% for item in values %}
                    "{{tgt_tmp}}",
                   {% endfor %}],
            fill: false
          
        }]
    },
    options: {}

});
    </script>
  </center>
</body>
</html>
